/* Estilos para a seção "Mais Pedidos" */
/*
display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    overflow-x: auto;


*/

.top-dishes {
    padding: 20px;
  }
  
  .top-dishes h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .top-dishes__status,
  .top-dishes__empty {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
  }
  
  .more-ordered {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  /* Ajusta a largura mínima dos cards */
    gap: 20px;  /* Espaçamento entre os cards */
    padding-bottom: 20px;
  }
  
  .dish-card {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .dish-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Ajuste responsivo para telas pequenas */
  @media (max-width: 768px) {
    .more-ordered {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  /* Diminui a largura mínima dos cards em telas pequenas */
    }
  
    .dish-card {
      margin-bottom: 1rem;  /* Espaçamento entre os DishCards */
    }
  }
  